<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Angular JS Includes</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.js">
	</script>
	
<script src="../js/cartForm.js"></script>
</head>
<head lang="en">
<meta charset="UTF-8" />
<title>Categories by Selectronic</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    



	<div class="container col-lg-9">
		<h2>Shopping Card Example</h2>
<div ng:controller="CartForm">
    <table class="table">
        <tr>
            
            <th>Description</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng:repeat="item in invoice.items">
            <td><input type="text" ng:model="item.description" class="input-small"/></td>           
            <td><input type="number" ng:model="item.qty" ng:required="required" class="input-mini"/></td>
            <td><input type="number" ng:model="item.cost" ng:required="required" class="input-mini"/></td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td>
                [<a href="" ng:click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            <td><a href="" ng:click="addItem()" class="btn btn-small">add item</a></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
</div>
		

	</div>

</body>
</html>