<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Categories by Selectronic</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<div class="container">
		<div class="row">

			<div class="col-lg-9">
				<div th:each="product : ${productList}">
					<a th:href="@{'/product/'+ ${product.name}}">
						<p>
						<div class="col-lg-3 col-md-3 col-sm-6">
							<span class="thumbnail"> 
							<img th:src="@{'/images/products/' + ${product.imageName} }" /> <!-- <img src="../../static/images/NewBannerBOOTS_2.png" width="400" th:src="@{/images/springmvc.png}"/> -->
								<h4 th:text="${product.name}"></h4>
								<h4 th:text="${product.imageName}"></h4>
								<div class="ratings">
									<span class="glyphicon glyphicon-star"></span> <span
										class="glyphicon glyphicon-star"></span> <span
										class="glyphicon glyphicon-star"></span> <span
										class="glyphicon glyphicon-star"></span> <span
										class="glyphicon glyphicon-star-empty"></span>
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and
									typesetting industry.</p>


								<hr class="line"></hr>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<p class="price" th:text="${product.price}"></p>
									</div>
								</div>
							</span>
						</div>
						</p>
					</a>
				</div>
			</div>
		</div>
	</div>



</body>
</html>