<!DOCTYPE html>
<html>
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="col-lg-10 col-md-9">
    
    
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>BCart Project</h2>

                    <h3>Spring Web App by ...</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/NewBannerBOOTS_2.png" width="400" th:src="@{/images/springmvc.png}"/>
            </div>
        </div>
        
    
</div>
</body>
</html>